{% extends "base.html" %}
{% block main %}
    <div class="columns">
        <div class="column">
            <table class="table is-bordered is-striped">
                <thead>
                    <tr>
                        <th>
                            Application name
                        </th>
                        <th>
                            Source code
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                {% for app in applications %}
                    <tr>
                        <td>
                            <a href="{{ app.url }}">{{ app.name }}</a>
                        </td>
                        <td>
                            <a href="{{ app.source }}">Source</a>
                        </td>
                        <td>
                            {{ app.description }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock main %}
