<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock title %}</title>
        {% include 'baseplates/css.html' %}
    </head>
    <body>
        {% include 'baseplates/navbar.html' %}
        <!-- This mainpage is just to add margin to separate the hero from the actual content -->
        <div class="mainpage">
            <div class="container">
                {% block main %}
                {% endblock main %}
            </div>
        </div>
        {% include 'baseplates/footer.html' ignore missing %}
        {% include 'baseplates/js.html' %}
    </body>
</html>
