<section class="hero is-primary is-bold">
  <!-- Hero header: will stick at the top -->
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Ranobe-Honyaku Logo">
                    </a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <!-- Social media stuff -->
                <div class="nav-right nav-menu">
                    <a class="nav-item" href="{{ g.CONFIG["SOCIAL"]['TWITTER'] }}">
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="{{ g.CONFIG["SOCIAL"]['FACEBOOK'] }}">
                        <span class="icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="{{ g.CONFIG["SOCIAL"]['REDDIT'] }}">
                        <span class="icon">
                            <i class="fa fa-reddit-alien"></i>
                        </span>
                    </a>
                    {% if not g.user %}
                        <a class="nav-item is-active" href="{{ url_for("login") }}">Login</a>
                    {% elif g.user %}
                        <a class="nav-item is-active" href="{{ url_for("logout") }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Ranobe-Honyaku
            </h1>
            <h2 class="subtitle">
                A modern Baka-Tsuki alternative.
            </h2>
        </div>
    </div>

  <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <li><a href="/">Home</a></li>
            </div>
        </nav>
    </div>
</section>
